.layout {
  display: grid;
  grid-template-rows: auto 70vh auto;
  height: 100vh;
  padding: 1rem;
  /* background-color: red; */
}
.layout__view {
  background-color: #f0f0f5;
  padding: 1rem;
  border-radius: 0.5rem;
}
.layout__select {
  /* background-color: darkgreen; */
  display: flex;
  justify-content: space-around;
}

.layout__select__button {
  /* height: 2em; */
  width: 25%;
  margin: 2em;
}

.layout__select__active {
  box-shadow: 0 0 0 5vw #f0f0f5, 0 -10vw 0 5vw #f0f0f5;
}
